<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <!--This setting is used to enable session in WCF service-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <!--This settings is used for endpoint and service behaviour configuration -->
    <behaviors>
      <endpointBehaviors>
        <behavior name="HttpEndPointBehaviour">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior name="HttpsServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <!--This setting is used for defining the WCF bindings-->
    <bindings>
      <webHttpBinding>
        <binding name="SvcwebHttpsBinding">
          <security mode="Transport">
            <transport clientCredentialType="None"></transport>
          </security>
        </binding>
        <binding name="SvcwebHttpBinding">
          <security mode="None"></security>
        </binding>
      </webHttpBinding>

      <basicHttpBinding>
        <binding name="SvcbasicHttpBinding" maxBufferPoolSize="1048576" maxBufferSize="1048576" maxReceivedMessageSize="1048576" messageEncoding="Text">
          <readerQuotas maxDepth="1048576" maxStringContentLength="1048576" maxArrayLength="1048576" maxBytesPerRead="1048576" maxNameTableCharCount="1048576" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <!--This setting is used for defining the WCF services-->
    <services>
      <service name="MyWcfService" behaviorConfiguration="HttpsServiceBehaviour">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="SvcwebHttpsBinding" behaviorConfiguration="HttpEndPointBehaviour" contract="IMyWcfService">
        </endpoint>
      </service>
    </services>
  </system.serviceModel>

</configuration>