<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>

    <!--This setting is used to enable session in WCF service-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <behaviors>
      <serviceBehaviors>
        <behavior name="SvcServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>

      <webHttpBinding>
        <!--Https Binding-->
        <binding name="">
          <security mode="Transport">
            <transport clientCredentialType="None"></transport>
          </security>
        </binding>

        <!--Http Binding-->
        <binding name="HttpBinding" maxBufferSize="1048576" maxBufferPoolSize="1048576" maxReceivedMessageSize="1048576" transferMode="Buffered">
          <security mode="None" />
          <readerQuotas maxDepth="1048576" maxStringContentLength="1048576" maxArrayLength="1048576" maxBytesPerRead="1048576" maxNameTableCharCount="1048576" />
        </binding>
      </webHttpBinding>

      <basicHttpBinding>
        <binding maxBufferPoolSize="1048576" maxBufferSize="1048576" maxReceivedMessageSize="1048576" messageEncoding="Text">
          <readerQuotas maxDepth="1048576" maxStringContentLength="1048576" maxArrayLength="1048576" maxBytesPerRead="1048576" maxNameTableCharCount="1048576" />
        </binding>
      </basicHttpBinding>

    </bindings>

    <services>
      <service name="MyWcfService" behaviorConfiguration="SvcServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="IMyWcfService"></endpoint>
        <endpoint address="" binding="webHttpBinding" contract="IMyWcfService"></endpoint>
      </service>
    </services>

  </system.serviceModel>

</configuration>